################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/smart_nature_trees_sport/v15/.suo
/.vs/smart_nature_trees_sport/v15
/.vs/ProjectSettings.json
/.vs/config/applicationhost.config
/.vs/config
